{% extends "basisAdmin.html"%}
{%block title%}Edit Courses{%endblock%}
{%block name%}Edit Courses{%endblock%}
{%block content%}



<form action="{{ url_for('adminEDIT', CRN=course.CRN) }}" method="post">

   
    <label for="classCode">class Code</label>
    <input type="text" name="classCode" value="{{course.classCode}}"><br>

    <label for="maxEnrollment">Max Enrollment</label>
    <input type="text" name="maxEnrollment" value="{{course.maxEnrollment}}"><br>

    <label for="courseTitle">Course Title</label>
    <input type="text" name="courseTitle" value="{{course.courseTitle}}"><br>

    <label for="courseSection">Course Section A-Z</label>
    <input type="text" name="courseSection" value="{{course.courseSection}}"><br>

    <span class="input-group-addon">Please select</span>
            <select name="weekDays" class="selectpicker form-control" value="{{course.weekDays}}">
              <option value="1">Monday Wednesday Friday</option>
              <option value="2">Tuesday Thursday</option>                                 
    </select>

    <!-- <label for="weekDay">Class Days</label>
    <input type="text" name="weekDays" value="{{course.weekDays}}"><br> -->

    <label for="startTime">Start Time</label>
    <input type="text" name="startTime" value="{{course.startTime}}"><br>

    <label for="endTime">End Time</label>
    <input type="text" name="endTime" value="{{course.endTime}}"><br>

    <label for="profid">Professor </label>
    <input type="text" name="profid" value="{{course.profid}}"><br>

    <button type="submit">Save</button>
</form>


{%endblock%}