{% extends "basisAdmin.html"%}
{%block title%}Edit Student{%endblock%}
{%block name%}Edit Student{%endblock%}
{%block content%}
<div class="content">
    <h1 style="text-align: center">Edit Student</h1>


  <form action="{{ url_for('adminStudentEdit', netid=student.netid) }}" method="POST">

    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" value="{{ student.firstName }}" required><br>

    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" value="{{ student.lastName }}" required><br>

    <label for="hold">Hold:</label>
    <input type="text" name="hold" value="{{ student.hold }}" required><br>

    <label for="gpa">GPA:</label>
    <input type="text" name="gpa" value="{{ student.gpa }}" required><br>


    <button type="submit">Save Changes</button>
</form>

{%endblock%}