{% extends "basisAdmin.html"%}
{%block title%}Edit Courses{%endblock%}
{%block name%}Edit Courses{%endblock%}
{%block content%}
<div class="content">
    <div class="form">
        <form action="/adminEDIT/{{course.CNR}}" method="POST">
            <input type="text" name="courseTitle" id="courseTitle" value="{{course.courseTitle}}">
            <input type="text" name="maxEnrollment" id="maxEnrollment" value="{{course.maxEnrollment}}">
            <input type="text" name="classCode" id="courseTitle" value="{{course.classCode}}">
            <input type="text" name="weekDay" id="weekDay" value="{{course.weekDays}}">
            <input type="text" name="courseSection" id="courseSection" value="{{course.courseSection}}">
            <input type="text" name="profid" id="profid" value="{{course.profid}}">
            <input type="text" name="startTime" id="startTime" value="{{course.startTime}}">
            <input type="text" name="endTime" id="endTime" value="{{course.endTime}}">
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{%endblock%}