{% extends "basisAdmin.html"%}
{%block title%}Edit Courses{%endblock%}
{%block name%}Edit Courses{%endblock%}
{%block content%}
<table>
    <tr>
        <th>Courses</th>
    </tr>
    {% for i in course %}
        <tr>
            <td>{{ i.CRN }}</td>
            <td>{{ i.courseTitle }}</td>
            <td>{{ i.weekDays }}</td>
            <td>{{ i.profid }}</td>
            
            <td>
                <a href="/adminCourseINFO/{{i.CRN}}">Info</a>
                <br>
                <a href="/adminEDIT/{{i.CRN}}">Update</a>
                <br>
                <a href="/adminREMOVE/{{i.CRN}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
</table>
</div>
{%endblock%}