{% extends "basisAdmin.html"%}
{%block title%}Edit Student{%endblock%}
{%block name%}Edit Student{%endblock%}
{%block content%}
<table>
    <tr>
        <th>Student</th>
    </tr>

    <form action="{{ url_for('adminStudent') }}" method="post">

        <label for="search">Search</label>
        <input type="text" name="search" ><br>
        <button type="submit">Save</button>
    </form>

    {% for i in student %}
        <tr>
            <td>{{ i.firstName }}</td>
            <td>{{ i.lastName }}</td>
            <td>{{ i.netid }}</td>
            <td>
                <br>
                <a href="/adminStudentINFO/{{i.netid}}">Info</a>
                <br>
                <a href="/adminStudentEdit/{{i.netid}}">Update</a>
                <br>
            </td>
        </tr>
        {% endfor %}
</table>
</div>
{%endblock%}
