<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Enrollment Chart</title>
</head>
 
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Student
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('adminStudent') }}">EDIT</a></li>
                  </ul>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Courses
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('adminADD') }}">ADD</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('adminCourse') }}">MORE</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('adminGraphEnroll') }}">Enrollment Graph</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('adminGraphGPA') }}">GPA Graph</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('adminGraphRating') }}">Rating Graph</a></li>


                </ul>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">LogOut</a>
                </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <h1> {%block name%}{%endblock%}</h1>
    {%block content%}{%endblock%}
        <!-- SOURCE FOR CHARTJS: https://www.geeksforgeeks.org/how-to-add-graphs-to-flask-apps/-->

    <div style="height: 60vh; width: 60%;">
        <canvas id="myChart"></canvas>
    </div>
 
    <script>
        const labels = {{ labels | tojson}};
 
        const data = {
            labels: labels,
            datasets: [{
                label: 'Ratings',
                backgroundColor: 'rgb(55, 105, 75)',
                borderColor: 'rgb(55, 105, 75)',
                data: {{ data | tojson}},
            }]
            
        };

       
        const config = {
            type: 'bar',
            data: data,
            options: { 
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        scaleLabel: {
                            display:true,
                            labelString: 'Test'
                        }
                    }
                } 
            },
            
           
        };
 
        const myChart = new Chart(
            document.getElementById('myChart'),
            
            config
        );
 
    </script>
    
</body>
</html>
    
</html>
