{% extends "basisStudent.html"%}
{%block title%}Course Infoe{%endblock%}
{%block name%}Course Info{%endblock%}
{%block content%}

 <!--The format for my form:https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask -->
<form class="form-inline" action="#" method="POST">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="lstAnswer" class="selectpicker form-control">
              <option value="7">Still has seats opened</option>
              <option value="1">(Professor rating>3)</option>
              <option value="2">(Professor rating>3.5)</option>
              <option value="3">(Professor rating>4)</option>
              <option value="4">(Professor rating>4.5)</option>
              <option value="5">Monday, Wednesday,Friday</option>
              <option value="6">Tuesday and Thursday </option>                                        
            </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>

<table>
    <tr>
        <th>Current Courses</th>
    </tr>
    {% for i in classes %}
        <tr>
            <td>{{ i.CRN }}</td>
            <td>{{ i.courseTitle }}</td>
           
            <td>{{ i.enrollment }}</td>
            
            <td>{{ i.maxEnrollment }}</td>
            
            <td>{{ i.weekDays }}</td>
           
            <td>{{ i.startTime }}</td>
            
            <td>{{ i.endTime }}</td>
        
            <td>{{ i.profid }}</td>
        </tr>
        {% endfor %}
</table>
{{content}}
{%endblock%}
