{% extends "basisStudent.html"%}
{%block title%}Home Page{%endblock%}
{%block name%}Home Page{%endblock%}
{%block content%}<h2>Welcome {{netid}}!</h2>

<table>
    <tr>
        <th>Current Courses</th>
    </tr>
    {% for i in results %}
        <tr>
            <td>{{ i.CRN }}</td>
            <td>{{ i.courseTitle }}</td>
            <td>
                <br>
                <a href="{{ url_for('studentCourseREMOVE',netid=netid) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
</table>


<form action="{{ url_for('student', netid=netid) }}" method="post">
    <label for="CRN">CRN:</label>
    <input type="text" name="CRN" required><br>

    <button type="submit">Save Changes</button>
</form>

<p>Delete</p>
<form action="{{ url_for('studentCourseREMOVE',netid="{{ netid }} method="post">
    <label for="CRN">CRN:</label>
    <input type="text" name="CRN" required><br>

    <button type="submit">Save Changes</button>
</form>

{%endblock%}
